<!DOCTYPE html>
<html>

<head>
    <title>ChatRMB</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <script>
        var conversationHistory = [];
        function showLoadingIndicator() {
            document.getElementById('loading-indicator').style.display = 'block';
        }
        function hideLoadingIndicator() {
            document.getElementById('loading-indicator').style.display = 'none';
        }
        function updateConversation(query, answer) {
            conversationHistory.push({ query: query, answer: answer });
            updateDisplay();
        }
        function updateDisplay() {
            var resultsContainer = document.querySelector('.search-results');
            resultsContainer.innerHTML = '';

            conversationHistory.forEach(function (item) {
                var resultItem = document.createElement('div');
                resultItem.className = 'result-item';

                var queryText = document.createElement('div');
                queryText.textContent = item.query;
                queryText.className = 'query-text';

                var answerText = document.createElement('div');
                answerText.textContent = item.answer;
                answerText.className = 'answer';

                if (queryText.textContent !== "") {
                    resultItem.appendChild(queryText);
                }
                resultItem.appendChild(document.createElement('br'));
                resultItem.appendChild(answerText);
                resultsContainer.appendChild(resultItem);
            });
        }

        function submitForm(event) {
            event.preventDefault();
            var queryInput = document.querySelector('#queryForm input[name="query"]');
            var query = queryInput.value;

            showLoadingIndicator();
            fetch('/ask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ query: query })
            })
                .then(response => response.json())
                .then(data => {
                    hideLoadingIndicator();
                    // Update the conversation history with the actual response from the server
                    updateConversation(query, data.answer);
                }).catch(error => {
                    console.error('Error:', error);
                    hideLoadingIndicator();
                });
            // Clear the input field
            queryInput.value = '';

        }

        // Function to send an initial query when the page loads
        function sendInitialQuery() {
            updateConversation(
                "",
                "Hello, I am ChatRMB. I can help you reproduce your mobile application bug. Feel free to ask me anything."
            );
        }

        window.onload = sendInitialQuery;
    </script>
</head>

<body>
    <div class="container">
        <h1><i>Chat</i> RMB</h1>
        <h3>
            <span class="highlight">R</span>eproduce your
            <span class="highlight">M</span>obile application
            <span class="highlight">B</span>ug.
        </h3>
        <div style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
            <div class="search-results"></div>
            <div style="margin-top:78vh;">
                <div id="loading-indicator">
                    <div class="spinner"></div>
                </div>
                <br><br>
                <div class="search-artifacts">
                    <form id="queryForm" onsubmit="submitForm(event)">
                        <input type="text" name="query"
                            placeholder="Simply input whatever you'd like to query in English" style="width: 600px;">
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        updateDisplay();
    </script>
</body>

</html>